{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='menu.css') }}">

	<h1>Our Menu</h1>
	<table>
		<tbody>

			<tr >
				<th>Pizza</th>
			</tr>
			<tr>
				<td>Mexican Delight</td>
				<td>200</td>
			</tr>
			<tr>
				<td>Classic Cheese margarita</td>
				<td>200</td>
			</tr>
			<tr>
				<td>Onion Cheese margarita</td>
				<td>210</td>
			</tr>
			<tr>
				<td>Tomato Cheese margarita</td>
				<td>200</td>
			</tr>
			<tr>
				<td>Capsicum Cheese margarita</td>
				<td>245</td>
			</tr>
			<tr>
				<td>Onion Capsicum pizza</td>
				<td>220</td>
			</tr>
			<tr>
				<td>Golden Sweet corn pizza</td>
				<td>250</td>
			</tr>
			<tr>
				<td>Sizzling hot paneer pizza</td>
				<td>350</td>
			</tr>
			<tr>
				<td>Paradise pizza</td>
				<td>340</td>
			</tr>
			<tr>
				<td>Cheesy corn jalapeno pizza</td>
				<td>400</td>
			</tr>
			<tr>
				<td>Barbecue panner pizza</td>
				<td>450</td>
			</tr>
			<tr>
				<td>Farm house Overloaded pizza</td>
				<td>400</td>
			</tr>
			<tr >
				<th>Sandwich</th>
			</tr>
			<tr>
				<td>Masala sandwich</td>
				<td>35/- 45/- 55/-</td>
			</tr>
			<tr>
				<td>Mix veg sandwich</td>
				<td>65/- 75/- 85/-</td>
			</tr>
			<tr>
				<td>Mix veg tandoori sandwich</td>
				<td>60/- 70/- 80/-</td>
			</tr>
			<tr>
				<td>Cheese sweet corn sandwich</td>
				<td>50/- 75/- 90/-</td>
			</tr>
			<tr>
				<td>Cheese chatney sandwich</td>
				<td>40/- 55/- 70/-</td>
			</tr>
			<tr>
				<td>Hot paneer sandwich</td>
				<td>45/- 65/- 80/-</td>
			</tr>
			<tr>
				<td>Chilli garlic cheese toast sandwich</td>
				<td>100/- 120/- 150/-</td>
			</tr>
			<tr>
				<td>Pizza sandwich</td>
				<td>100/- 150/- 190/-</td>
			</tr>
			<tr >
				<th>Burger</th>
			</tr>
			<tr>
				<td>Aloo tikki burger</td>
				<td>60/- 70/- 80/-</td>
			</tr>
			<tr>
				<td>Mexican Burger</td>
				<td>80/- 90/- 100/-</td>
			</tr>
			<tr>
				<td>Paneer tikka burger</td>
				<td>90/- 100/- 120/-</td>
			</tr>
			<tr>
				<td>Double Tikki Cheese Burger</td>
				<td>80/- 90/- 100/-</td>
			</tr>
			<tr>
				<td>Spicy Crispy paneer burger</td>
				<td>130/- 140/- 150/-</td>
			</tr>
			<tr >
				<th>Fries</th>
			</tr>
			<tr>
				<td>Fries</td>
				<td>100</td>
			</tr>
			<tr>
				<td>Peri-Peri</td>
				<td>150</td>
			</tr>
			<tr >
				<th>Shakes</th>
			</tr>
			<tr>
				<td>Cold Coffee</td>
				<td>90</td>
			</tr>
			<tr>
				<td>Oreo Shake</td>
				<td>100</td>
			</tr>
			<tr>
				<td>Kitkat Shake</td>
				<td>110</td>
			</tr>
			<tr >
				<th>Extra Cheese</th>
			</tr>
			<tr>
				<td>Extra Cheese</td>
				<td>20/- 30/-</td>
			</tr>
			<tr >
				<th>Pasta</th>
			</tr>
			<tr>
				<td>Red sauce pasta</td>
				<td>150</td>
			</tr>
			<tr>
				<td>White sauce pasta</td>
				<td>150</td>
			</tr>
			<tr>
				<td>Pink sauce pasta</td>
				<td>170</td>
			</tr>
			<tr >
				<th>Rolls</th>
			</tr>
			<tr>
				<td>Paneer roll</td>
				<td>160</td>
			</tr>
			<tr>
				<td>Paneer tandoori roll</td>
				<td>170</td>
			</tr>
			<tr>
				<td>tandoori roll</td>
				<td>120</td>
			</tr>
			<tr>
				<td>Cheese roll</td>
				<td>90</td>
			</tr>
			<tr>
				<td>Aloo roll</td>
				<td>80</td>
			</tr>
			<tr>
				<td>Veggie roll</td>
				<td>60</td>
			</tr>
			<tr>
				<td>Veggie paneer roll</td>
				<td>100</td>
			</tr>
			<tr>
				<td>Double Cheese roll</td>
				<td>120</td>
			</tr>
			<tr >
				<th>Biryani</th>
			</tr>
			<tr>
				<td>Paneer Biryani</td>
				<td>150</td>
			</tr>
			<tr>
				<td>Veg Biryani</td>
				<td>140</td>
			</tr>
			<tr >
				<th>Beverages</th>
			</tr>
			<tr>
				<td>Lime mojito</td>
				<td>200</td>
			</tr>
			<tr>
				<td>RUM</td>
				<td>150</td>
			</tr>
			<tr>
				<td>Pink dream RUM</td>
				<td>250</td>
			</tr>
			<tr>
				<td>Vodka</td>
				<td>280</td>
			</tr>
			<tr>
				<td>Amaretto</td>
				<td>300</td>
			</tr>
			<tr>
				<td>Orange juice</td>
				<td>120</td>
			</tr>
			<tr>
				<td>Cherry juice</td>
				<td>140</td>
			</tr>
			<tr>
				<td>Lemon juice</td>
				<td>80</td>
			</tr>
			<tr>
				<td>Beer</td>
				<td>300</td>
			</tr>
			<tr>
				<td>White Wine</td>
				<td>280</td>
			</tr>
			<tr>
				<td>Red Wine</td>
				<td>200</td>
			</tr>
			<tr>
				<td>Prosecco</td>
				<td>280</td>
			</tr>
			<tr>
				<td>Dry Cider</td>
				<td>320</td>
			</tr>
			<tr>
				<td>Sparkling water Coke</td>
				<td>280</td>
			</tr>
			<tr>
				<td>Virgin Mojito</td>
				<td>190</td>
			</tr>
			<tr>
				<td>Wine</td>
				<td>200</td>
			</tr>
			<tr >
				<th>Snacks</th>
			</tr>
			<tr>
				<td>Chilli paneer</td>
				<td>180</td>
			</tr>
			<tr>
				<td>Chlli patato</td>
				<td>200</td>
			</tr>
			<tr>
				<td>Masala Maggie</td>
				<td>80</td>
			</tr>
			<tr>
				<td>Veg Maggie</td>
				<td>90</td>
			</tr>
			<tr>
				<td>Sezwan Maggie</td>
				<td>90</td>
			</tr>
			<tr>
				<td>Noodles</td>
				<td>180</td>
			</tr>
			<tr>
				<td>Manchurian</td>
				<td>180</td>
			</tr>
			<tr>
				<td>Noodles+Manchurian</td>
				<td>180</td>
			</tr>

		</tbody>
	</table>
{% endblock %}
